FACTURACION/WindApp/Service References/ServiceRefFEstandar/ServicioFacturacionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://siat.impuestos.gob.bo/FacturaElectronicaEstandar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="https://siat.impuestos.gob.bo/" name="ServicioFacturacionService" targetNamespace="https://siat.impuestos.gob.bo/FacturaElectronicaEstandar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="https://siat.impuestos.gob.bo/" location="https://presiatservicios.impuestos.gob.bo:39113/FacturaElectronicaEstandar?wsdl=IServicioFacturaElectronicaEstandar.wsdl" />
  <wsdl:types />
  <wsdl:binding name="ServicioFacturacionServiceSoapBinding" type="ns1:IServicioFacturaElectronicaEstandar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recepcionPaqueteFacturaElectronicaEstandar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="recepcionPaqueteFacturaElectronicaEstandar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="recepcionPaqueteFacturaElectronicaEstandarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarComunicacion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="verificarComunicacion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="verificarComunicacionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validacionAnulacionFacturaElectronicaEstandar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validacionAnulacionFacturaElectronicaEstandar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validacionAnulacionFacturaElectronicaEstandarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validacionRecepcionFacturaElectronicaEstandar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validacionRecepcionFacturaElectronicaEstandar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validacionRecepcionFacturaElectronicaEstandarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionFacturaElectronicaEstandar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="recepcionFacturaElectronicaEstandar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="recepcionFacturaElectronicaEstandarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anulacionFacturaElectronicaEstandar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="anulacionFacturaElectronicaEstandar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="anulacionFacturaElectronicaEstandarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validacionRecepcionPaqueteFacturaElectronicaEstandar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validacionRecepcionPaqueteFacturaElectronicaEstandar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validacionRecepcionPaqueteFacturaElectronicaEstandarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioFacturacionService">
    <wsdl:port name="ServicioFacturacionPort" binding="tns:ServicioFacturacionServiceSoapBinding">
      <soap:address location="https://presiatservicios.impuestos.gob.bo:39113/FacturaElectronicaEstandar" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>